<ion-header>
  <ion-toolbar text-center color='dark'>
    <ion-title>
      Ejercicios básicos - Jorge García Molina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='medium'>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio1' color='light' expand='full'>
          ejercicio 1
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio2' color='light' expand='full'>
          ejercicio 2
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio3' color='light' expand='full'>
          ejercicio 3
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio4' color='light' expand='full'>
          ejercicio 4
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio5' color='light' expand='full'>
          ejercicio 5
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio6' color='light' expand='full'>
          ejercicio 6
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape='round' href='/ejercicio7' color='light' expand='full'>
          ejercicio 7
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>