<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full" class="center">
    <ion-item button text-center *ngFor="let f of films">
      <div (click)="showDetails(f.title)">
        <h2>Título: {{ f.title }}</h2>
        <img [src]="f.cover" alt="">
      </div>
      <div class="details" *ngIf="clicked && films[index].title == f.title">
        <p>Fecha de Estreno: {{ f.release }}</p>
        <p>Puntuación: {{ f.score }}</p>
        <p>Sinopsis: <br>{{ f.synopsis }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>